<app-header></app-header>

<div id="block">
    <form [formGroup]="form">
      <div id="country_block">
        <select id="country" [formControlName]="'val'" (change)="changeCountry()">
          <option selected hidden>Select Country</option>
          <option *ngFor="let item of myData; let i = index" [value]="i + 1">{{item.name}}</option>
        </select>
      </div>
      <div id="city_block"> 
        <select id="city" *ngIf="isShow">
          <option *ngFor="let items of list1">{{items.name}}</option>
        </select>
      </div>
    </form>
</div>